{% extends 'main/base.html' %}

{% block title %}
Страница
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="bg-light p-4 row">
            <div class="col-3">
                <img src="{{ item.image.url }}" class="card-img-top" alt="..." style="height: 350px">
            </div>
            <div class="col-8">
                <h2>Характеристики:</h2>
                <h5>{{ item.title }}</h5>
                <p>{{ item.NickName }}</p>
                <p>{{ item.Father }}</p>
                <p>{{ item.Mother }}</p>
                <p>{{ item.Sex }}</p>
                <p>{{ item.Color }}</p>
                <p>{{ item.Data }}</p>
                <p>{{ item.Text }}</p>
                <a href="{% url 'order' %}" class="btn btn-dark">Выбрать друга</a>
            </div>
        </div>
    </div>
{% endblock %}