{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="height: 800px">
        <div class="col-6" style="display: flex">
            <div style="margin: auto">
                <h1 class="text-black fw-bold" style="font-size: 65px">Выбери себе настоящего друга</h1>
                <p class="text-black fs-1 fw-medium">Питомник собак пород сиба-ину</p>
                <div class="mx-auto">
                    <button type="button" class="btn btn-dark btn-lg">
                        <a class="nav-link" href="{% url 'cart' %}">Выбрать друга</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="{% static 'myapp/images/dog.png' %}" class="h-rem-10" style="height: 85vh; bottom: 0; position: absolute; max-height: 800px">
        </div>
    </div>
</div>


{% endblock %}