{% extends 'main/base.html' %}

{% block title %}
Страница
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="bg-dark p-4 row text-light">
            <div class="col-3">
                <img src="{{ el.image.url }}" class="card-img-top" alt="..." style="height: 350px">
            </div>
            <div class="col-8">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <p><button type="submit">Отправить</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}