
html,body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
    /* background: linear-gradient(150deg, #faa138 50%, #f5f1eb 80%); min-height: 100vh; */
    background-image: url('./images/back.jpg');
	position: relative;
}

*,*:before,*:after {
	padding:  0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper {
	-webkit-background-size:  cover;
	background-size:  cover;
	height: 100%;
	min-width: 0;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

.container {
	max-width: 1440px;
	margin: 0px auto;
	padding:  0px 10px;
}

.Hover {
    color : #fff
}

.Hover:hover {
    color: black;
    background: #fff
}

.Box {
    background: white;
    color: black;
    padding: 15px;
    font-size: 20px;
    border-radius: 35px;
}

.Box img {
    border-radius: 35px;
}

.But {
    background: black;
    width: 100px;
    height: 50px
}

.box {
    background: white;
}